# Library Utama
streamlit
watchdog

# Computer Vision (Wajib Headless)
opencv-python-headless
ultralytics

# Data & DL (Biarkan server memilih versi yang cocok dengan Python 3.14)
numpy
pandas
matplotlib
pillow
torch
torchvision
